@import "variable";
@import "color";
@import "fonts";
@import "body";
@import "button";
@import "dropdown";
@import "form-check";
@import "kendo";
@import "choice";
@import "card";
@import "border";
@import "input";
@import "divider";
@import "_style";
@import "container";
@import "chart";
@import "alerts";
@import "reset";
@import "box-shadow";


.bg-test {
    background-image: url('/src/assets/general/images/root/login_bkgrnd.jpg');
    filter: blur(0.3rem);
    background-position: top;
    background-repeat: repeat-y;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    left: 0;
}
#chart{
    position: relative;
    z-index: 2;
}

