@font-face {
	font-family: iranyekanFa;
	font-style: normal;
	font-weight: bold;
	src: url("/src/assets/fonts/iranyekan/fa-number/eot/iranyekanwebboldfanum.eot");
	src: url("/src/assets/fonts/iranyekan/fa-number/eot/iranyekanwebboldfanum.eot?#iefix") format("embedded-opentype"),
		url("/src/assets/fonts/iranyekan/fa-number/woff/iranyekanwebboldfanum.woff") format("woff"),
		url("/src/assets/fonts/iranyekan/fa-number/ttf/iranyekanwebboldfanum.ttf") format("truetype");
}

@font-face {
	font-family: iranyekanFa;
	font-style: normal;
	font-weight: 100;
	src: url("/src/assets/fonts/iranyekan/fa-number/eot/iranyekanwebthinfanum.eot");
	src: url("/src/assets/fonts/iranyekan/fa-number/eot/iranyekanwebthinfanum.eot?#iefix") format("embedded-opentype"),
		url("/src/assets/fonts/iranyekan/fa-number/woff/iranyekanwebthinfanum.woff") format("woff"),
		url("/src/assets/fonts/iranyekan/fa-number/ttf/iranyekanwebthinfanum.ttf") format("truetype");
}

@font-face {
	font-family: iranyekanFa;
	font-style: normal;
	font-weight: 300;
	src: url("/src/assets/fonts/iranyekan/fa-number/eot/iranyekanweblightfanum.eot");
	src: url("/src/assets/fonts/iranyekan/fa-number/eot/iranyekanweblightfanum.eot?#iefix") format("embedded-opentype"),
		url("/src/assets/fonts/iranyekan/fa-number/woff/iranyekanweblightfanum.woff") format("woff"),
		url("/src/assets/fonts/iranyekan/fa-number/ttf/iranyekanweblightfanum.ttf") format("truetype");
}

@font-face {
	font-family: iranyekanFa;
	font-style: normal;
	font-weight: normal;
	src: url("/src/assets/fonts/iranyekan/fa-number/eot/iranyekanwebregularfanum.eot");
	src: url("/src/assets/fonts/iranyekan/fa-number/eot/iranyekanwebregularfanum.eot?#iefix") format("embedded-opentype"),
		url("/src/assets/fonts/iranyekan/fa-number/woff/iranyekanwebregularfanum.woff") format("woff"),
		url("/src/assets/fonts/iranyekan/fa-number/ttf/iranyekanwebregularfanum.ttf") format("truetype");
}

@font-face {
	font-family: iranyekanEn;
	font-style: normal;
	font-weight: normal;
	src: url("/src/assets/fonts/iranyekan/en-number/eot/iranyekanwebregular.eot");
	src: url("/src/assets/fonts/iranyekan/en-number/eot/iranyekanwebregular.eot?#iefix") format("embedded-opentype"),
		url("/src/assets/fonts/iranyekan/en-number/woff/iranyekanwebregular.woff") format("woff"),
		url("/src/assets/fonts/iranyekan/en-number/ttf/iranyekanwebregular.ttf") format("truetype");
}

@font-face {
	font-family: iranyekanEn;
	font-style: normal;
	font-weight: normal;
	src: url("/src/assets/fonts/iranyekan/en-number/eot/iranyekanwebregular.eot");
	src: url("/src/assets/fonts/iranyekan/en-number/eot/iranyekanwebregular.eot?#iefix") format("embedded-opentype"),
		url("/src/assets/fonts/iranyekan/en-number/woff/iranyekanwebregular.woff") format("woff"),
		url("/src/assets/fonts/iranyekan/en-number/ttf/iranyekanwebregular.ttf") format("truetype");
}

@font-face {
	font-family: iranyekanFa;
	font-style: normal;
	font-weight: 500;
	src: url("/src/assets/fonts/iranyekan/fa-number/eot/iranyekanwebmediumfanum.eot");
	src: url("/src/assets/fonts/iranyekan/fa-number/eot/iranyekanwebmediumfanum.eot?#iefix") format("embedded-opentype"),
		url("/src/assets/fonts/iranyekan/fa-number/woff/iranyekanwebmediumfanum.woff") format("woff"),
		url("/src/assets/fonts/iranyekan/fa-number/ttf/iranyekanwebmediumfanum.ttf") format("truetype");
}

@font-face {
	font-family: iranyekanEn;
	font-style: normal;
	font-weight: 500;
	src: url("/src/assets/fonts/iranyekan/en-number/eot/iranyekanwebmedium.eot");
	src: url("/src/assets/fonts/iranyekan/en-number/eot/iranyekanwebmedium.eot?#iefix") format("embedded-opentype"),
		url("/src/assets/fonts/iranyekan/en-number/woff/iranyekanwebmedium.woff") format("woff"),
		url("/src/assets/fonts/iranyekan/en-number/ttf/iranyekanwebmedium.ttf") format("truetype");
}

@font-face {
	font-family: iranyekanFa;
	font-style: normal;
	font-weight: 800;
	src: url("/src/assets/fonts/iranyekan/fa-number/eot/iranyekanwebextraboldfanum.eot");
	src: url("/src/assets/fonts/iranyekan/fa-number/eot/iranyekanwebextraboldfanum.eot?#iefix") format("embedded-opentype"),
		url("/src/assets/fonts/iranyekan/fa-number/woff/iranyekanwebextraboldfanum.woff") format("woff"),
		url("/src/assets/fonts/iranyekan/fa-number/ttf/iranyekanwebextraboldfanum.ttf") format("truetype");
}

@font-face {
	font-family: iranyekanFa;
	font-style: normal;
	font-weight: 900;
	src: url("/src/assets/fonts/iranyekan/fa-number/eot/iranyekanwebblackfanum.eot");
	src: url("/src/assets/fonts/iranyekan/fa-number/eot/iranyekanwebblackfanum.eot?#iefix") format("embedded-opentype"),
		url("/src/assets/fonts/iranyekan/fa-number/woff/iranyekanwebblackfanum.woff") format("woff"),
		url("/src/assets/fonts/iranyekan/fa-number/ttf/iranyekanwebblackfanum.ttf") format("truetype");
}

@font-face {
	font-family: iranyekanFa;
	font-style: normal;
	font-weight: 950;
	src: url("/src/assets/fonts/iranyekan/fa-number/eot/iranyekanwebextrablackfanum.eot");
	src: url("/src/assets/fonts/iranyekan/fa-number/eot/iranyekanwebextrablackfanum.eot?#iefix") format("embedded-opentype"),
		url("/src/assets/fonts/iranyekan/fa-number/woff/iranyekanwebextrablackfanum.woff") format("woff"),
		url("/src/assets/fonts/iranyekan/fa-number/ttf/iranyekanwebextrablackfanum.ttf") format("truetype");
}
.font-validate {
	font-size: 12.5px;
	font-weight: 400;
	word-spacing: -0.06rem;
	letter-spacing: -0.01rem;
}
.iranyekanEn {
	font-family: iranyekanEn !important;
}

.iranyekanFa {
	font-family: iranyekanFa;
}

.fw-normal {
	font-weight: normal;
}
.fw-100 {
	font-weight: 100;
}
.fw-200 {
	font-weight: 200;
}
.fw-300 {
	font-weight: 300;
}
.fw-400 {
	font-weight: 400;
}
.fw-500 {
	font-weight: 500;
}
.fw-600 {
	font-weight: 600;
}
.fw-700 {
	font-weight: 700;
}
.fw-800 {
	font-weight: 800;
}
.fw-900 {
	font-weight: 900;
}
.fs-10 {
	font-size: 10px !important;
}
.fs-11 {
	font-size: 11px !important;
}
.fs-12 {
	font-size: 12px !important;
}
.fs-13 {
	font-size: 13px;
}
.fs-14 {
	font-size: 14px;
}
.fs-15 {
	font-size: 15px;
}
.fs-16 {
	font-size: 16px;
}
.fs-17 {
	font-size: 17px;
}
.fs-18 {
	font-size: 18px;
}
.ws-05 {
	word-spacing: -0.05rem;
}
.ws-10 {
	word-spacing: -0.10rem;
}
.ws-15 {
	word-spacing: -0.15rem;
}
.ws-20 {
	word-spacing: -0.2rem;
}

.ls-01 {
	letter-spacing: -0.01rem;
}
.ls-02 {
	letter-spacing: -0.02rem;
}
.ls-03 {
	letter-spacing: -0.03rem;
}
.ls-04 {
	letter-spacing: -0.04rem;
}
.ls-05 {
	letter-spacing: -0.05rem;
}
.lh {
    height: 1px !important;
    width: 12px;
    transform: rotate(90deg);
    background-color: $gray-700;
    opacity: 1;
    margin: 1.2rem 0;
}
.line-h-1 {
    line-height: 1 !important;
}
.line-h-1-5 {
    line-height: 1.5 !important;
}
.line-h-2 {
    line-height: 2 !important;
}
.line-h-3 {
    line-height: 3 !important;
}
.line-h-4 {
    line-height: 4 !important;
}
.line-h-md-2 {
    @media screen and (max-width:767px){
        line-height: 2 !important;
    }
}
.line-h-3 {
    line-height: 3 !important;
}
.line-h-md-3 {
    @media screen and (max-width:767px){
        line-height: 3 !important;
    }
}
.border-dash{
	border-bottom: dashed 1px rgb(95, 95, 95);
}
.text-dash{
	border-bottom: dashed 1px rgb(95, 95, 95);
	padding-bottom: 5px;
	margin-bottom: -6px !important;
}
.deactiveline {
	position: relative;
	white-space: nowrap;
}
.activeline {
	position: relative;
	white-space: nowrap;
	@include activelineTransition;
	left: 0%;
	&:hover {
		left: calc(100% + 20px);
		@include activelineTransition;
	}
}
.activelineTickt {
	position: relative;
	white-space: nowrap;
	@include activelineTicketTransition;
	left: 0%;
	&:hover {
		left: calc(100% + 20px);
		@include activelineTicketTransition;
	}
}
